
<h3 style="margin-left:39%">Click on order's names for the details.</h3>
 <div *ngIf="dataLoaded">
    <mat-selection-list #shoes [multiple]="false" *ngIf="orderEmpty">
        <mat-list-option class="list" *ngFor="let empl of order" [value]="empl" [routerLink]="['/details',empl.id]">
          {{empl.fName}}
        </mat-list-option>
      </mat-selection-list>
      <div *ngIf="!orderEmpty">
        <div style="margin-left:43% ;">Order not available.</div>
        </div>
 </div> <button style="float:right ;margin-right:100px ;" [routerLink]="['/order']">Add Order</button>

