<h1 style="margin-left:42% ;">Order Details</h1>
<div style="margin-left:43% ;">
    <div>PO Number: {{orderDetails.poNumber}}</div>
<div>Staus: {{orderDetails.status}}</div>
<div>PO Type: {{orderDetails.poType}}</div>
<div>PO Name: {{orderDetails.poName}}</div>
<div>Order Date: {{orderDetails.orderDate}}</div>
<div>Exp. Del. Date: {{orderDetails.expectedDeliveryDate}}</div>
<div>Actual Del. Date: {{orderDetails.actualDeliveryDate}}</div>
<div>Price: {{orderDetails.price}}</div>
</div>

<button mat-raised-button class="button" color="primary" style="float:right ;margin-right:100px ;"
 *ngIf="orderDetails.status=='pending'" (click)="updateStatus(orderDetails.id)">Mark Delivered</button>


